#navBar {
    background-color: #0a1612;
    color: white;
    font-size: 150%;
    height: 10vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 6fr;
    
    /* align-items: center;
    justify-items: center; */
}
#navBar>a{
    color: white;
    justify-self: center;
    align-self: center;
    padding: 10%;
}

#navBar>div {
    height: 100%;
    width: 100%;
}

#navBar>a:hover {
    background-color: #1c2e28;
}