
#pastYearSalesChart{
    display: inline-block;
    margin-left: 5%;
    grid-area: c;
    height: 100%;
}

#pastYearSalesChart>.title{
    display: inline-block;
    font-weight: bold;
    margin-left: 10%;
    font-size: 140%;

}