
#topEmployeesChart{
    display: inline-block;
    grid-area: a;
    margin-left: 10%;
    height: 100%;

}

#topEmployeesChart>.title{
    font-weight: bold;
    margin-left: 10%;
    font-size: 140%;
}