
.updateFields{
    position: fixed;
    width: 570px;
    height: 450px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(27, 26, 26);
    color: white;
    border-radius: 20px;
    
}

.updateFields>i{
    cursor: pointer;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 200%;
}

.updateForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
}

.updateForm>span{
    font-size: 150%;
    font-weight: bold;
    margin: 10%;
}

.updateForm>input {
    align-self: center;
    width: 80%;
    font-size: 150%;
    background-color: transparent;
    border: 0px;
    color: white;
    border-bottom: 1px solid white;
}

.updateFields>button{
    font-size: 200%;
    padding: 2%;
    width: 30%;
    border-radius: 25px;
    margin-left: 35%;
}