
#updateClient{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    width: 60vw;
    justify-items: left;
    margin: 2%;
}

#updateClient>div{
    margin: 10px;
}

#updateClient>select{
    margin:10px;
    color: black;
    width: 70%;
}

#updateClient>button{
    background-color: transparent;
    color: rgb(165, 165, 39);
    height: 70%;
    border: 0px;
    font-weight: bold;
    font-size: 120%;
}

.message{
    color: red;
    font-size: 120%;
}

